*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  background: rgba(4,46,92,1);
  background: -moz-linear-gradient(top, rgba(4,46,92,1) 0%, rgba(73,155,234,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,46,92,1)), color-stop(100%, rgba(73,155,234,1)));
  background: -webkit-linear-gradient(top, rgba(4,46,92,1) 0%, rgba(73,155,234,1) 100%);
  background: -o-linear-gradient(top, rgba(4,46,92,1) 0%, rgba(73,155,234,1) 100%);
  background: -ms-linear-gradient(top, rgba(4,46,92,1) 0%, rgba(73,155,234,1) 100%);
  background: linear-gradient(to bottom, rgba(4,46,92,1) 0%, rgba(73,155,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#042e5c', endColorstr='#499bea', GradientType=0 );
}

ul, li {
  margin: 0;
  padding: 0;
}

.aside {
  width: 20%;
  float: left;
  color: black;
  background-color: #f7f7f7;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.aside li {
  list-style: none;
  margin: 0 0 10% 3%;
  text-align: center;
}

.aside li:hover {
  cursor: pointer;
  color: blue;
}

.aside h3 {
  text-align: center;
  margin-bottom: 20%;
}

.list {
  width: 80%;
  float: right;
  color: white;
  height: 100%;
  min-height: 100%;
}

.list h2 {
  margin-left: 2%;
  text-align: left;
}

.list li {
  list-style: none;
  padding: 2%;
  margin: .1%;
  background-color: white;
  color: black;
  border: solid black;
  border-width: thin;
}

.list li:hover {
  background-color: #F5F5F5;
  color: blue;
}

.list li a {
  text-decoration: none;
  color: inherit;
}

.list li a:hover {
  cursor:pointer;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.scores {
  float: right;
}
